@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap");
* {
  font-family: "Poppins", cursive;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login {
  position: absolute;
  top: 80%;
  left: 40%;
  margin: auto;
  transform: translate(-30%, -50%);
  background: rgba(4, 29, 23, 0.5);
  padding: 50px;
  max-width: 270px;
  box-shadow: 0px 0px 25px 10px black;
  border-radius: 15px;
}
.avatar {
  font-size: 30px;
  background: #64bb6c;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
}
.login h2 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  padding-top: 0;
  margin-top: -5px;
}
.box-login {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 2px solid white;
  padding: 8px 0;
}
.box-login i {
  font-size: 23px;
  color: white;
  padding: 5px 0;
}
.box-login input {
  width: 85%;
  padding: 5px 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
}
.box-login input::placeholder {
  color: white;
  position: relative;
}
.btn-login .box-login input:hover {
  background: rgba(10, 10, 10, s 0.5);
}
.btn-login {
  margin-left: 10px;
  margin-bottom: 5px;
  background: none;
  border: 1px solid white;
  width: 92.5%;
  padding: 10px;
  padding-bottom: 20px;
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  cursor: pointer;
}
img {
  max-width: 100px;
  max-height: 80px;
}

.btn-login:hover {
  background: rgba(12, 30, 15, 0.5);
}
.bottom {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}
.bottom a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.bottom a:hover {
  text-decoration: underline;
}

.greetings {
  font-size: 10px;
  font-weight: 10px;
  margin-bottom: 60%;
  padding-left: 80px;
}
.greetings > span {
  animation: glow 3.5s ease-in-out infinite;
}
.bedug {
  max-width: 300px;
  max-height: 200px;
}

.g {
  animation: glo 7.5s ease-in-out infinite;
}
@keyframes glo {
  0%,
  100% {
    color: red;
    text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
  }
  10%,
  90% {
    color: #ffee00;
    text-shadow: none;
  }
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
  }
  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}
.greetings > span:nth-child(2) {
  animation-delay: 0.2s;
}
.greetings > span:nth-child(3) {
  animation-delay: 0.4s;
}
.greetings > span:nth-child(4) {
  animation-delay: 0.6s;
}
.greetings > span:nth-child(5) {
  animation-delay: 0.8s;
}
.greetings > span:nth-child(6) {
  animation-delay: 1s;
}
.greetings > span:nth-child(7) {
  animation-delay: 1.2s;
}
.greetings > span:nth-child(8) {
  animation-delay: 1.4s;
}
.greetings > span:nth-child(9) {
  animation-delay: 1.6s;
}
.greetings > span:nth-child(10) {
  animation-delay: 1.8s;
}
.greetings > span:nth-child(11) {
  animation-delay: 2s;
}
.greetings > span:nth-child(12) {
  animation-delay: 2.2s;
}
.greetings > span:nth-child(13) {
  animation-delay: 2.4s;
}
.greetings > span:nth-child(14) {
  animation-delay: 2.6s;
}
.greetings > span:nth-child(15) {
  animation-delay: 2.8s;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.button a {
  text-decoration: none;
  font-size: 1rem;
  color: #111;
}
.nprinsley-text-rainbowan {
  font-size: 50px;
}
.nprinsley-text-glitchan {
  font-size: 50px;
}

@media screen and (max-width: 574px) {
  .greetings {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-left: -90px;
  }
  .description {
    font-size: 1rem;
  }
  .g {
    margin-left: -90px;
  }

  .button a {
    font-size: 0.5rem;
  }
  .login {
    top: 63%;
    left: 37%;
  }
  .nprinsley-text-rainbowan {
    margin-left: -90px;
    font-size: 30px;
  }
  .im {
    width: 150px;
    margin-top: -400px;
    margin-left: -50px;
  }
  .nprinsley-text-glitchan {
    margin-left: -90px;
    font-size: 30px;
  }
  .is {
    width: 150px;
    margin-left: -50px;
    padding-bottom: 10%;
    max-width: 300px;
    max-height: 200px;
  }
}
